extends ../layout

block styles
    link(rel="stylesheet", href="/stylesheets/apps/wordle.css")
    script(src="/javascripts/apps/wordle.js")

block content 
    div(class='container')
        div(class='filter', hidden)
            - for (var x = 0; x < 5; x++)
                input(type="text", class="letter", maxlength=1)
            p(class='results') nothing here yet..

        div(class='loading')
            p loading...

        div(class='failed', hidden)
            p failed to load word list from server

